<a href="https://colab.research.google.com/github/HyungjooAhn1/Machine_Learing_Course/blob/main/Codes/week4/PracticeCode_Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
path = '/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02/'

In [13]:
import pandas as pd

df = pd.read_csv(path + 'data/earthquakes.csv')

### Task 1

##### Try loc and iloc function to select 3:10 items for mag, magType, and type variables.

In [16]:
df.loc[3:10, ['mag','magType','type']]

     mag magType        type
3   0.44      ml  earthquake
4   2.16      md  earthquake
5   2.61      md  earthquake
6   1.70      ml  earthquake
7   1.13      md  earthquake
8   0.92      md  earthquake
9   4.70      mb  earthquake
10  0.50      ml  earthquake

In [20]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [21]:
df.iloc[3:10, [8,9,21]]

    mag magType        type
3  0.44      ml  earthquake
4  2.16      md  earthquake
5  2.61      md  earthquake
6  1.70      ml  earthquake
7  1.13      md  earthquake
8  0.92      md  earthquake
9  4.70      mb  earthquake

##### Try to find items of location Arizona

In [36]:
df.loc[df.title.str.contains('Arizona')]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
1062,NaN,NaN,60300227,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1666,NaN,163.0,",uu60300227,",1.23,ml,...,",uu,",reviewed,1539133978610,"M 1.2 - 7km SSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1539196068710,https://earthquake.usgs.gov/earthquakes/eventp...
3965,NaN,NaN,60298572,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1577,NaN,211.0,",uu60298572,",0.94,md,...,",uu,",reviewed,1538383710020,"M 0.9 - 7km WSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1538516934720,https://earthquake.usgs.gov/earthquakes/eventp...

##### Try to find 10 largest items of mag variable

In [40]:
df.nlargest(10, 'mag')[['mag','magType','type']]

      mag magType        type
5263  7.5     mww  earthquake
837   7.0     mww  earthquake
118   6.7     mww  earthquake
4363  6.7     mww  earthquake
799   6.5     mww  earthquake
816   6.2     mww  earthquake
838   6.1      mb  earthquake
5323  6.1     mww  earthquake
862   6.0     mww  earthquake
1267  6.0     mww  earthquake

### Task 2

##### Try to delete alert variable

In [42]:
del df['alert']

In [43]:
df.columns

Index(['cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag', 'magType',
       'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources', 'status', 'time',
       'title', 'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')

##### Try to pop mag and magType variables one at a time with name mag, and magType. (use .pop function)

In [45]:
mag = df.pop('mag')

In [47]:
df.columns

Index(['cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'magType', 'mmi',
       'net', 'nst', 'place', 'rms', 'sig', 'sources', 'status', 'time',
       'title', 'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')

In [48]:
magType = df.pop('magType')

In [49]:
df.columns

Index(['cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mmi', 'net',
       'nst', 'place', 'rms', 'sig', 'sources', 'status', 'time', 'title',
       'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')

##### Concatenate mag and magType variables and define a new DataFrame using .concat function

In [57]:
df_new = pd.concat([mag, magType], axis=1)
df_new

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]